
i.share-post-links {
    border-radius: 5%;
    border: solid transparent 1px;
    color: #A2A2A2;
    font-size: 1.3em;
    margin: 0;
    padding: 1px;
    text-align: center;
    text-decoration: none;
    width: 6%;
}
i.share-post-links:hover {
    background-color: #A2A2A2;
    color: #fff;
}
i.fa-twitter:hover, i.fa-twitter-square:hover {
    background-color: #00ACED;
}
i.fa-facebook:hover, i.fa-facebook-square:hover {
    background-color: #3B5998;
}
i.fa-google-plus:hover, i.fa-google-plus-square:hover {
    background-color: #D34836;
}
i.fa-adn:hover {
    background-color: #49484D;
}
i.fa-envelope:hover {
    background-color: #5E9EDA;
}
i.fa-github:hover, i.fa-github-square:hover, i.fa-github-alt:hover {
    background-color: #000;
}
i.fa-flickr:hover {
    background-color: #FF0084;
}
i.fa-youtube:hover, i.fa-youtube-square:hover, i.fa-youtube-play:hover {
    background-color: #BC272F;
}
i.fa-linkedin:hover, i.fa-linkedin-square:hover {
    background-color: #107FB9;
}
i.fa-gittip:hover {
    background-color: #663300;
}
i.fa-rss:hover, i.fa-rss-square:hover {
    background-color: #FF6600;
}
i.fa-bitbucket:hover, i.fa-bitbucket-square:hover {
    background-color: #205081;
}
i.fa-stack-exchange:hover {
    background-color: #3A7BC8;
}
